# Node
node_modules

# Environment variables
.env

# SQLite databases
prisma/*.sqlite

# Build script output
/dist

# JWT token keypair
mppkey
mppkey.pub

# Logs
/logs

# VSCode
/.vscode

# MacOS
/.DS_Store
